   *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans", Arial, Tahoma, sans-serif;
 }

.top-bar {
  background: linear-gradient(to right, #4394c2, #e15b2e);
  color: #fff;
  font-size: 12px;
  padding: 6px 0;
}
.top-bar .text-highlight {
  color: #fff;
  font-weight: 600;
}
.top-bar .phone i {
  margin-right: 5px;
  color: #fff;
}
.top-bar .social-icons a {
  color: #fff;
  margin-left: 10px;
  padding: 0 8px;
  border-left: 1px solid #fff;
}
.top-bar .social-icons a:first-child {
  border-left: none;
}
.top-bar .right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}
.icon-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 5px;
}

.border-red { border: 2px solid red; color: red; }
.border-green { border: 2px solid #7CAF30; color: #7CAF30; }
.border-purple { border: 2px solid #A333A3; color: #A333A3; }
.border-lightgreen { border: 2px solid #6ECC71; color: #6ECC71; }
.border-pink { border: 2px solid #FFA5A5; color: #FFA5A5; }
.border-blue { border: 2px solid #2A80B9; color: #2A80B9; }

.call-box {
  background-color: #4A9FCF;
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.custom-search-box input {
  background-color: #e6655d;
  border: none;
  color: white;
  height: 40px;
  padding: 8px 12px;
}

.custom-search-box input::placeholder {
  color: white;
}

.custom-search-box button {
  background-color: #0099cc;
  border: none;
  height: 40px;
  padding: 0 12px;
  color: white;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler.collapsed .fa-xmark { display: none; }
.navbar-toggler:not(.collapsed) .fa-bars { display: none; }

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
  .h6{
    color: white;
  }
  .feature-section {
    background-color: #eb5a20;
    padding: 15px 0;
    color: white;
  }
  .feature-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
  }
  .feature-icon {
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }
  .feature-text {
    font-weight: 600;
    white-space: nowrap;
  }
  .feature-border {
    border-left: 1px solid white;
  }
  .enquiry-box {
    background-color: #2fa4d7;
    padding: 30px 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
    color: #fff;
  }


  .enquiry-box h3 {
    color: #2c2c2c;
    font-weight: 600;
    font-size: 38;
    text-align: center;
    margin-bottom: 25px;
  }

  .form-control {
    margin-bottom: 15px;
    border-radius: 10px;
  }

  .btn-send {
    background-color: #f15a24;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 20px;
  }
  .sideimg{
    max-width: 100%;
    height: auto;
    margin-top: 5%;
  }  
  
  .who-we-are {
    background-color: #b5ecff;
    padding: 60px 0;
  }
  .info-card {
    background: #005987;
    color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 30px 20px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  .info-card:hover {
    transform: translateY(-5px);
  }
  .info-card i{
    width: 100px;
    margin-bottom: 20px;
  }
  .info-card h5 {
    font-weight: bold;
    margin-bottom: 15px;
  }

  .latest-products {
    padding: 60px 0;
  }
  .product-card {
    text-align: center;
    background: white;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 10px;
    height: 100%;
  }

  .product-card img {
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
  }

  .product-title {
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
  }

  .read-btn {
    margin-top: 15px;
    padding: 6px 16px;
    border: 1px solid black;
    background: white;
    color: black;
    border-radius: 5px;
  }

  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .carousel-controls {
    position: absolute;
    top: -45px;
    right: 10px;
    z-index: 2;
  }

  .carousel-controls button {
    color: black;
    padding: 5px 10px;
    font-size: 25px;
  }
  .carousel-controls button:hover{
    color: black;
  }
  .butoom p,li{
    font-size: 1.1rem;
  }
  .contact-section {
    background-color: #2074bd;
    color: white;
    padding: 30px 20px;
  }

  .contact-section .divider {
    border-left: 4px solid white;
    height: 100%;
    margin: 0 20px;
  }

  .contact-section a {
    color: white;
    text-decoration: underline;
  }

  .btn-orange {
    background-color: #f26522;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: 600;
     font-size: 1rem;
  }

  .btn-orange:hover {
    background-color: #d2541c;
  }
  .address-container {
    max-width: 500px;
    margin: 0 auto;
}
.header {
    color: #333;
    margin-bottom: 15px;
    font-weight: 500;
}
.card-row {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
}
.card-row:last-child {
    border-bottom: none;
}
.label-col {
    background-color: #f9f9f9;
    padding: 12px 15px;
    font-weight: 500;
    width: 130px;
}
.content-col {
    padding: 12px 15px;
    background-color: white;
    flex-grow: 1;
}
.phone-link {
    color: #007bff;
    text-decoration: none;
}
.email-link {
    color: #007bff;
    text-decoration: none;
}
footer {
  background-color: #3a3737;
  color: #fff;
  padding: 10px 0;
  font-size: 14px;
}
.footer-text {
  color: #ccc;
}
.footer-icons a {
  color: #fff;
  margin: 0 10px;
  transition: color 0.3s ease;
}
.footer-icons a:hover {
  color: #00acee;
}
.back-to-top {
  color: #00acee;
  text-decoration: none;
  margin-left: 10px;
  font-size: 18px;
}
.back-to-top:hover {
  color: #fff;
}

.logo-img {
  border-radius: 5px;
  border: 1px solid #3098cd;
  box-shadow: -1px 0px 8px #0000005e;
  margin: 10px;
  width: 100%;
  max-width: 280px;
  height: 180px;
  object-fit: contain;
}


 
  @media (max-width: 768px) {
    .navbar-expand-lg .navbar-nav .nav-link{
       color: white !important;
       font-weight: 600 !important;
    }
    .icon-circle {
      display: none !important;
    }
    .navbar-nav {
      text-align: right;
    }
    .navbar-collapse {
      padding: 1rem;
    }
    .navbar-collapse {
      text-align: right; 
      color: white !important;
      background-color: #123554;
      padding: 1rem;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      z-index: 1000;
      
    }
    .navbar-brand img{
        justify-content: center !important;
        text-align: center !important;
    }

    .navbar-nav {
      align-items: flex-end;
    }
    .section1{
      display: none;
    }
    .call-box, .search-box {
      display: none;
    }
    .butoom li{
      display: none;
    }
    .bothbox{ 
      display: none !important;
      }
      .footer-icons{
        display: none !important;
      }
      .feature-border {
        border-left: none;
        border-top: 1px solid white;
    }
  }
  @media (max-width: 430px){

.nextcarousel{
  display: none !important;
}
    .logoslider{
      display: none;
    }
    .nextt1{
      display: none;
    }
    .next11{
      display: none;
    }
    .text,.text1{
       text-align: center;
    }
    .text1{
      display: none;
    }
    .right-section{
      display: none !important;
    }
    .butoom p{
      display: none;
    }
    .product-card{
      margin: 10%;
    } 
    .ptr{
      display: none !important;
    }
    .contact-section{
      text-align: center !important;
    }

    .carousel-item .col-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .hideproduct {
      display: none !important;
    }

    .product-card {
      margin: 0 auto;
    }

    .carousel-inner .row {
      justify-content: center;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
      display: inline-block;
      font-weight: 600;
      width: 1rem;
      height: 1rem;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: 100% 100%;
  }
  .carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    font-weight: 600;
    border-radius: 50%;
  }
  }
 
.carousel-control-prev,
.carousel-control-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-20%);
    opacity: 1;
}

 
 
 
